.logo {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    padding-left: 17%;
    padding-top: 2%;
}

.logo img {
    height: 250px;
    margin-right: 2%;
    margin-left: 18%;
    padding-top: 30px;
    padding-left: 0.5%;
    padding-bottom: 1%;
    text-align: left;
    align-items: left;
    display: flex;
}

h2 {
    font-size: 500%;
    text-align: center;
    align-items: center;
    font-family: 'pacifico',
        'cursive';
    color: aliceblue;
}

header {
    background-color: #4444ec;
}